body{
	margin-left: 90px;
	margin-right: 90px;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}

.no-decoration{
	text-decoration: none;
}

.header {
}
.header__navigation {
}
.header__navigation_links {
}
.header__navigation_advice {
	position: absolute;
	top:0;
	width:260px;
	height:20px;
	margin-left: 390px;
	background-color: #FBE7A3;
	padding: 10px;
}
#advice-text{
	position: absolute;
	top:5;
    margin-left: 40px;
	font-size: 14px;
    line-height: 1.3;
    color: #1c1819;
}
#advice-image{
	width:40px;
	position: absolute;
	top:0px;
}

.header__navigation_account {
	position: absolute;
	top: 10px;
	right:350px;
	margin-left: 40px;
}
#account{
	font-size: 14px;
    line-height: 1.3;
    color: #1c1819;
}
.header__navigation_create {
	position: absolute;
	top:0px;
	right:90px;
	width: 176px;
    height: 20px;
    padding:10px;
    background: #2a81dd;
}
#plus-image{
	width:20px;
	border-radius: 5px;
}
#create-text{
	position: absolute;
	top:10px;
	margin-left:5px;
	color:white;
}

 .search-panel{
 	position: absolute;
 	top:65px;
 }
#market-image{
	width:180px;
}
.search-panel__icon {
}
.search-panel__search-form {
	position: absolute;
	left:190px;
	top:1px;
	width: 980px;
    height: 40px;
    padding: 8px;
    border-radius: 4px;
    background: #ffdd61;
}
.search-panel__search-form_white{
	width: 970px;
    height: 35px;
    margin:2px;
	background-color:white;
	color:gray;
	border-radius: 4px;
}
#dropdown_button{
	position: relative;
	bottom: 7px;
}
.dropdown-text{
   position: relative;
   top:4px;
   font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}
#dropdown-symbol{
	width:20px;
	position: relative;
   top:4px;
}
.search-form__dropdown{
	cursor: pointer;
    height: 38px;
    line-height: 32px;
    padding: 3px 25px 3px 10px;
    position: relative;
    border:0px;
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
}
.search-form__dropdown a:hover 
{background-color: #ddd;}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
	display: block;
}

.search-form{
	position: relative;
	top:-18px;
	left:100px;
	width:400px;
	border:none;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	font-size: 15px;
}
.search-panel__categories {
}
