* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: white;
    font-family: 'Ubuntu', sans-serif;
    
}
.b_page{
	overflow-x: hidden;
	overflow-y: scroll;

}
.b_page-line1{
	margin-left: 123px;
	position: relative;
	top: 75px;
}
.b_page-line1 h1{
	
	font-size: 29px;
	font-weight: normal;	
	color: #202020;
}
.b_page-line2{
	position: relative;
	top: 130px;
	margin-left: 123px;

} 
.additional {
	position: relative;
	top: -18px;
	margin-left: 90px;
	color: grey;
    
}

li,a{
	color: #202020;
	text-decoration: none;
	font-size: 13.2px;
	position: relative;
	top: -2px;
}

header nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0px 10px;
	margin-right: 110px;
}

.logo{
	cursor: pointer;
	float: left;
	width: 100px;
	padding: 0px 7px;
	margin-left: 110px;
}
hr{
	border-top: 1px solid lightgrey;

}
.nav__links{
	list-style: none;
	
}
.nav__links li{
	display: inline-block;
	padding: 0px 10px;
}
button {
	padding: 11px 5px;
	background-color: #2a81dd;
	cursor: pointer;
	border: none;
	font-size: 13.2px;
	position: relative;

}
.btn {
	background-color: #2a81dd;
	color: white;
	display: inherit;
}
.gg-add-r{
	color: #2a81dd;
	top: -2.8px;
}
.remained1{
	position: relative;
	top: 10px;
	font-size: 13px;
	color: grey;
}
#counter{
	position: relative;
	top: -1px;
	text-align: center;
}
#message{
	position: relative;
	margin-left: -1px;
	height: 35px;
	width: 450px;
	border: 1px solid lightgray;
	border-radius: 3px;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Фактическое всплывающее окно */
.popup .popuptext {
  visibility: hidden;
  width: 295px;
  height: 90px;
  background-color: white;
  color: black;
  border: 1px solid lightgrey;
  text-align: left;
  border-radius: 3px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 120%;
  top: -25px;
  font-size: 13px;
  margin-left: -80px;
}

/* Всплывающее окно со стрелками */
.popup .popuptext::after {
  position: absolute;
  top: 20%;
  left: 30%;
  margin-left: -90px;
  border-width: 9px;
  border-style: solid;
}

/* Переключите этот класс - скрыть и показать всплывающее окно */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Добавить анимацию (исчезает во всплывающем окне) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.b_page-line3 h4{
	position: relative;
	top: 180px;
	margin-left: 123px;

}
.custom-select {
	position: relative;
	top: 200px;
	margin-left: 123px;
}

#add{
	position: relative;
	top: 250px;
	margin-left: 2px;
}

.additional1{
	position: relative;
	top: -30px;
	margin-left: 100px;
	color: grey;
}
.text1{
	position: relative;
	top: 200px;
}
#div1 .rd{
	position: relative;
	top: 253px;
	margin-left: 123px;

}
#div1 .tb{
	position: relative;
	top: 253px;
	margin-left: 3px;
	border-radius: 2px;
	border: 1px solid lightgrey;

}

.price{

	position: relative;
	top: 253px;
	
	margin-left: 123px;

}

.b_page-line4 {
	position: relative;
	top: 270px;
	margin-left: 123px;

}

#review{
	color: lightgrey;

}
.change {
	position: relative;
	top: 290px;
	margin-left: 123px;
}

#photo{
	position: relative;
	 border: solid 1px;
    width:440px; 
    height: 100px;
    padding: 4px 6px 4px 8px;
    margin-top: 2px;
    top: 330px;
    margin-left: 123px;
    overflow: hidden;
    outline: none;
    background-repeat: no-repeat;
    background-color: transparent;
}
#photo p{
	font-size: 10px;
	color: lightgrey;
	position: relative;
}

#img{
	position: relative;
	top: 150px;
	margin-left: 593px;

}
.contact{
	position: relative;
	top: 140px;
	margin-left: 123px;
}

.contact #region {
	width: 445px;
	height: 30px;
}
.contact #number {
	width: 445px;
	height: 30px;
}
.contact #adr {
	width: 445px;
	height: 30px;
}
.contact #email {
	width: 445px;
	height: 30px;
}
.contact a{
	position: relative;
	top: -47px;
	margin-left: 333px;
}
.contact a:active{
	color: blue;
}
.sub{
	position: relative;
	top: 200px;
	margin-left: 123px;
}
.sub p{
	position: relative;
	margin-left: 143px;
	top: -34px;
	width: 400px;
	font-size: 13px;
}
a:link {
  color: blue; 
  background-color: transparent; 
  text-decoration: none;
}
a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.end{
	position: relative;
	top: 200px;
}
.end1{
	position: relative;
	top: 250px;
}
.end3{
	position: relative;
	margin-left: 356px;
	top: -40px;
}
